{
    "addons": {
      "zotero-pdf-copy@infty.fun": {
        "updates": [
          {
            "version": "0.0.1",
            "update_link": "https://github.com/xht308/zotero-pdf-copy/releases/download/v0.0.1/zotero-pdf-copy.xpi",
            "update_hash": "sha256:780fe17976240fdc2a52fe4b806a813abfd9a30b69427a196d95c0facf9cfda6",
            "applications": {
              "zotero": {
                "strict_min_version": "7.0"
              }
            }
          }
        ]
      }
    }
  }
  